<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title th:text="#{logout.title}"></title>

        <!-- CSS -->
        <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
        <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />

        <style>
            .space {
                margin-top: 20px;
            }

            body {
                padding-top: 50px;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="well">
                        <form class="form-signing" method="POST" th:action="@{/logout}">
                            <p class="form-signing-heading lead" th:text="#{logout.title}"></p>
                            <p>Are you sure you want to log out?</p>
                            <p>Logged user: <u th:text="${username}"></u></p>
                            <div class="space"></div>
                            <button id="btn-login" class="btn btn-info btn-block" type="submit" value="Login">LOGOUT</button>
                        </form>
                    </div>
                </div>
            </div><!-- /row -->

        </div> <!-- /container -->

        <footer class="text-center text-info">
            <p th:text="#{footer.msg} + ${year}"></p>
        </footer>

        <!-- Plugins -->
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

    </body>
</html>
