<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title th:text="#{index.title}"></title>

        <!-- Bootstrap -->
        <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet"/>

    </head>

    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1 class="text-info" th:text="#{index.title}"></h1>
                <h4><span th:classappend="${colorClass}" th:text="${name}"></span> System</h4>
            </div>

            <div th:if="${not stats.isEmpty()}" style="padding-top:20px;">
                <div th:each="stat : ${stats}" class="panel">
                    <div class="panel-heading" th:classappend="${backgroundClass}">
                        <h3 class="panel-title" th:text="${stat.year}"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row text-center">
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto lotto">
                                            <h4 th:text="${stat.l0}"></h4>
                                            <h5 class="panel-danger">0/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto lotto">
                                            <h4 th:text="${stat.l1}"></h4>
                                            <h5 class="panel-danger">1/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto lotto">
                                            <h4 th:text="${stat.l2}"></h4>
                                            <h5 class="panel-danger">2/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto lotto">
                                            <h4 th:text="${stat.l3}"></h4>
                                            <h5 class="panel-danger">3/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto lotto">
                                            <h4 th:text="${stat.l4}"></h4>
                                            <h5 class="panel-danger">4/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto lotto">
                                            <h4 th:text="${stat.l5}"></h4>
                                            <h5 class="panel-danger">5/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto lotto">
                                            <h4 th:text="${stat.l6}"></h4>
                                            <h5 class="panel-danger">6/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto lotto">
                                            <h4 th:text="${stat.lAll}"></h4>
                                            <h5 class="panel-danger">All</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-3">
                                        <div class="panel-lotto" th:classappend="${backgroundClass}">
                                            <h4 th:text="${#numbers.formatDecimal(stat.lACC * 100, 0, 2)}"></h4>
                                            <h5 class="panel-danger">ACC[%]</h5>
                                        </div>
                                    </div>
                                    <div th:if="${stat.lBank &gt;= 0}" class="col-sm-4 col-xs-3">
                                        <div class="panel-lotto alert-success">
                                            <h4 th:text="${stat.lBank}"></h4>
                                            <h5 class="panel-danger">BANK</h5>
                                        </div>
                                    </div>
                                    <div th:if="${stat.lBank &lt; 0}" class="col-sm-4 col-xs-3 col-xs-3">
                                        <div class="panel-lotto alert-danger">
                                            <h4 th:text="${stat.lBank}"></h4>
                                            <h5 class="panel-danger">BANK</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row text-center">
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto plus">
                                            <h4 th:text="${stat.p0}"></h4>
                                            <h5 class="panel-danger">0/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto plus">
                                            <h4 th:text="${stat.p1}"></h4>
                                            <h5 class="panel-danger">1/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto plus">
                                            <h4 th:text="${stat.p2}"></h4>
                                            <h5 class="panel-danger">2/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto plus">
                                            <h4 th:text="${stat.p3}"></h4>
                                            <h5 class="panel-danger">3/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto plus">
                                            <h4 th:text="${stat.p4}"></h4>
                                            <h5 class="panel-danger">4/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto plus">
                                            <h4 th:text="${stat.p5}"></h4>
                                            <h5 class="panel-danger">5/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto plus">
                                            <h4 th:text="${stat.p6}"></h4>
                                            <h5 class="panel-danger">6/6</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="panel-lotto plus">
                                            <h4 th:text="${stat.lAll}"></h4>
                                            <h5 class="panel-danger">All</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-3">
                                        <div class="panel-lotto" th:classappend="${backgroundClass}">
                                            <h4 th:text="${#numbers.formatDecimal(stat.pACC * 100, 0, 2)}"></h4>
                                            <h5 class="panel-danger">ACC[%]</h5>
                                        </div>
                                    </div>
                                    <div th:if="${stat.pBank &gt;= 0}" class="col-sm-4 col-xs-3">
                                        <div class="panel-lotto alert-success">
                                            <h4 th:text="${stat.pBank}"></h4>
                                            <h5 class="panel-danger">BANK</h5>
                                        </div>
                                    </div>
                                    <div th:if="${stat.pBank &lt; 0}" class="col-sm-4 col-xs-3">
                                        <div class="panel-lotto alert-danger">
                                            <h4 th:text="${stat.pBank}"></h4>
                                            <h5 class="panel-danger">BANK</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/" class="btn btn-info" role="button">Home</a>
        </div>

        <footer class="text-center text-info" >
            <p>
                <a class="random-color" href="/random">Random</a>
                <a class="static-color" href="/static">Static</a>
                <a class="math-color" href="/math">Math</a>
            </p>
            <p th:text="#{footer.msg} + ${year}"></p>
        </footer>

        <!-- PLUGINS -->
        <script src="../static/js/jquery-1.11.3.min.js" th:src="@{js/jquery-1.11.3.min.js}"></script>
        <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
    </body>
</html>