<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title th:text="#{index.title}"></title>

        <!-- CSS -->
        <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet"/>
        <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
    </head>

    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1 class="text-info" th:text="#{index.title}"></h1>
                <h4><span th:classappend="${colorClass}" th:text="${name}"></span> System</h4>
            </div>

            <div class="btn-group">
                <a th:each="lotteryYear : ${lotteryYears}" th:href="@{/{name}(name=${name},year=${lotteryYear})}" th:classappend="${lotteryYear.equals(selectedYear)} ? btn-info : btn-default" class="btn" th:text="${lotteryYear}"></a>
            </div>

            <div class="row" style="padding-top:20px;">
                <div class="col-sm-8">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="#{index.statement.header}"></h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr th:if="${ticket.lotteryResult != null}" th:each="ticket : ${tickets}" >

                                        <td th:classappend="${ticket.ticketNumbers.containNumber(ticket.lotteryResult.lottoNumbers.l1)} ? bingo : lotto" th:text="${ticket.lotteryResult.lottoNumbers.l1}"></td>
                                        <td th:classappend="${ticket.ticketNumbers.containNumber(ticket.lotteryResult.lottoNumbers.l2)} ? bingo : lotto" th:text="${ticket.lotteryResult.lottoNumbers.l2}"></td>
                                        <td th:classappend="${ticket.ticketNumbers.containNumber(ticket.lotteryResult.lottoNumbers.l3)} ? bingo : lotto" th:text="${ticket.lotteryResult.lottoNumbers.l3}"></td>
                                        <td th:classappend="${ticket.ticketNumbers.containNumber(ticket.lotteryResult.lottoNumbers.l4)} ? bingo : lotto" th:text="${ticket.lotteryResult.lottoNumbers.l4}"></td>
                                        <td th:classappend="${ticket.ticketNumbers.containNumber(ticket.lotteryResult.lottoNumbers.l5)} ? bingo : lotto" th:text="${ticket.lotteryResult.lottoNumbers.l5}"></td>
                                        <td th:classappend="${ticket.ticketNumbers.containNumber(ticket.lotteryResult.lottoNumbers.l6)} ? bingo : lotto" th:text="${ticket.lotteryResult.lottoNumbers.l6}"></td>

                                        <td th:text="${ticket.lotteryResult.lotteryDate}"></td>

                                        <td th:classappend="${ticket.ticketNumbers.containNumber(ticket.lotteryResult.plusNumbers.p1)} ? bingo : plus" th:text="${ticket.lotteryResult.plusNumbers.p1}"></td>
                                        <td th:classappend="${ticket.ticketNumbers.containNumber(ticket.lotteryResult.plusNumbers.p2)} ? bingo : plus" th:text="${ticket.lotteryResult.plusNumbers.p2}"></td>
                                        <td th:classappend="${ticket.ticketNumbers.containNumber(ticket.lotteryResult.plusNumbers.p3)} ? bingo : plus" th:text="${ticket.lotteryResult.plusNumbers.p3}"></td>
                                        <td th:classappend="${ticket.ticketNumbers.containNumber(ticket.lotteryResult.plusNumbers.p4)} ? bingo : plus" th:text="${ticket.lotteryResult.plusNumbers.p4}"></td>
                                        <td th:classappend="${ticket.ticketNumbers.containNumber(ticket.lotteryResult.plusNumbers.p5)} ? bingo : plus" th:text="${ticket.lotteryResult.plusNumbers.p5}"></td>
                                        <td th:classappend="${ticket.ticketNumbers.containNumber(ticket.lotteryResult.plusNumbers.p6)} ? bingo : plus" th:text="${ticket.lotteryResult.plusNumbers.p6}"></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="#{index.random.header}"></h3>
                        </div>
                        <table class="table table-condensed">
                            <tbody th:classappend="${backgroundClass}">
                                <tr th:each="ticket : ${tickets}">
                                    <td th:text="${ticket.ticketNumbers.n1}"></td>
                                    <td th:text="${ticket.ticketNumbers.n2}"></td>
                                    <td th:text="${ticket.ticketNumbers.n3}"></td>
                                    <td th:text="${ticket.ticketNumbers.n4}"></td>
                                    <td th:text="${ticket.ticketNumbers.n5}"></td>
                                    <td th:text="${ticket.ticketNumbers.n6}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <a class="btn btn-info" href="/">Home</a>
                <a class="btn btn-success" th:href="${statsRef}" >Stats</a>
                <a class="btn btn-default" href="/add">Admin</a>
            </div>
        </div>

        <footer class="text-center text-info" >
            <p>
                <a class="random-color" href="/random">Random</a>
                <a class="static-color" href="/static">Static</a>
                <a class="math-color" href="/math">Math</a>
            </p>
            <p th:text="#{footer.msg} + ${year}"></p>
        </footer>

        <!-- PLUGINS -->
        <script src="../static/js/jquery-1.11.3.min.js" th:src="@{js/jquery-1.11.3.min.js}"></script>
        <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
    </body>
</html>